

  {{#if blogs.length}}
  <div class="current-blogs">
    <h3>Your blogs:</h3>
    <ol class="blog-list">
    {{#each blogs as |blog|}}
    

   </ol>
    {{/each}}
  </div>
  {{/if}}
</div>

{{!--adding post info--}}
<article class="post">
  <div class="post-head">  
    <div class="title">
      <a href="/dashboard/edit/{{id}}">{{title}}</a>
    </div>    
</article>

<script src="./js/dashboard.js"></script>
