

  {{#if blogs.length}}
  <div class="current-blogs">
    <h3>Your blogs:</h3>
    <ol class="blog-list">
    {{#each blogs as |blog|}}
    

   </ol>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
