
{{#each blogs as |blog|}}
<h2>{{.username}}</h2>
<p>{{user.username}}</p>
{{/each}}
<input type="text" name="comment-input" id="comment-input">
<button id ="comment-submit">Submit</button>

<script src="/js/comment-submit.js"></script>