<section>
  <h2>Create New Post</h2>

  <form class="new-blog-form">
    <div>
      <label for="blog-title">Title</label>
      <input type="text" id="blog-title" name="blog-title" />
    </div>
    <div>
      <label for="blog-text">Post</label>
      <textarea id="blog-text" name="blog-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/new-blog.js"></script>