{{> blog-info blog}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="comment-text" name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-success">add comment</button>    
  </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}